<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <article class="post">

                <header class="post-header">
                    <h1 class="post-title">Bạn đã biết gì về cửa hàng của chúng tôi chưa?</h1>
                </header>
                <div class="post-content">
                    <p>
                        Cửa hàng điện lạnh Anh Dũng nằm trên đường Lê Quang Định, Bình Thạnh. Chuyên bán và sửa chữa các
                        thiết bị như
                        máy lạnh, máy giặt , tủ lạnh với cam kết tất cả linh kiện đều là hàng chính hãng, giá cả phải
                        chặng, phục vụ
                        24/7 trừ các ngày lễ , Tết.</p>

                    <p>
                        Cửa hàng điện lạnh Anh Dũng nằm trên đường Lê Quang Định, Bình Thạnh. Chuyên bán và sửa chữa các
                        thiết bị như
                        máy lạnh, máy giặt , tủ lạnh với cam kết tất cả linh kiện đều là hàng chính hãng, giá cả phải
                        chặng, phục vụ
                        24/7 trừ các ngày lễ , Tết.</p>
                </div>

            </article>

        </div>
    </main>
    <footer class="site-footer h-card">
        <!-- <data class="u-url" href="/"></data> -->
        <div class="wrapper">

            <h2 class="footer-heading">Thông tin liên hệ</h2>
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li class="p-name">SĐT:</li>
                        <li>
                            <a class="u-email">
                                +84 28 3900 0587 - chị Thu
                            </a>
                        </li>
                        <li class="p-name">Email:</li>
                        <li><a class="u-email"
                                href="mailto:dienlanhanhdung_lqd@gmail.com">dienlanhanhdung_lqd@gmail.com</a>
                        </li>
                        <li class="p-name">Facebook:</li>
                        <li><a href="https://www.facebook.com/dienlanhanhdung"><svg class="svg-icon">
                                    <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
                                </svg> <span class="username">dienlanhanhdung</span></a></li>
                    </ul>
                    <!-- <ul class="social-media-list">
    
                        </ul> -->
                </div>
                <div class="footer-col footer-col-2">

                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44341.065516580675!2d106.69874714846758!3d10.793419029978049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528e8399bd98b%3A0x67ce9a74aac5b111!2zQ-G7rWEgSMOgbmcgxJBp4buHbiBM4bqhbmggQW5oIETFqW5n!5e0!3m2!1svi!2s!4v1558351318655!5m2!1svi!2s"
                        width="auto" height="80%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <!-- <div class="footer-col footer-col-3">
                       
                    </div> -->
            </div>

        </div>

    </footer>
</body>

</html>