<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Trang chủ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script type="application/ld+json"></script>
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
            {% for item in site.data.home %}
            <a href="{{ item.link }}" {% if page.url == item.link %} {% endif %}> {{ item.name }} </a>
            {% endfor %}
            {% for item in site.data.menu %}
            <a href="{{ item.link }}" {% if page.url == item.link %} {% endif %}> {{ item.name }} </a>
            {% endfor %}
            {% for item in site.data.about %}
            <a href="{{ item.link }}" {% if page.url == item.link %} {% endif %}> {{ item.name }} </a>
            {% endfor %}
        </div>

    </header>

</body>

</html>